body{
    font-family: 'Cinzel', serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    background-color: black;
    padding:2rem 0.8rem
}

ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 0.9rem;
}

li{
    margin-right: 2rem;
}

.button button{
    color: rgb(195, 167, 6);
    background-color: black;
    padding: 0.4rem 2.5rem 0.4rem 0.6rem;
    text-transform: uppercase;
}

.front-page{
    margin-top: -2rem;
    background-image: url('https://www.pchotels.com/uploads/images/1_01644574008123.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center center;
}

.intro{
    display: flex;
    width: 70%;
    align-items: center;
    margin: auto;
    gap: 3rem;
    padding: 4rem;
}
.heading{
    width: 50%;
    text-align: center;
    margin: auto;
}

.reference{
    text-align: right;
}

.image img{
    width: 450px;
}

.info{
    width: 80%;
    margin: auto;
    color: rgb(172, 167, 167);
}

.gallery{
    display: flex;
    gap: 1rem;
}

.gallery-image{
    position: relative;
}

.gallery-image img{
    width: 100%;
}


.gallery-text{
    color: white;
    position: absolute;
    height: 0;
    transition: all 0.7s;
    overflow: hidden;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-image:hover .gallery-text{
    opacity: 1;
    height: 100%;
}

.hotel{
    padding: 2rem;
}

.hotel-images{
    display: flex;
    gap: 2rem;
}

.image2{
    position: relative;
}

.card{
    background-color: white;
    color:black;
    position: absolute;
    
    bottom: -20%;
    width: 70%;
    padding: 0 2rem;
    left: 8%;
}

.card-button button{
    color: gold;
    padding: 0.6rem 1.5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    background: transparent;
    border: none;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-text{
    text-align: center;
}